.sidebar
  .sidebar_header
    .sidebar_header__box
      %p.sidebar_header__box__name
        吉原
      %ul.sidebar_header__box__menu
        %li.sidebar_header__box__edit
          = link_to "#"  do
            = icon('fas', 'edit')
        %li.sidebar_header__box__new
          = link_to "#"  do
            = icon('fas', 'cog')
  .sidebar_list 
    .sidebar_list__groups
      %p.sidebar_list__groups__name
        techcamp
      %p.sidebar_list__groups__message
        まだメッセージがありません1
      %p.sidebar_list__groups__name
        techcamp2
      %p.sidebar_list__groups__message
        まだメッセージがありません2
      %p.sidebar_list__groups__name
        techcamp3
      %p.sidebar_list__groups__message
        まだメッセージがありません3
